<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        class="img-thumbnail rounded-circle"
        src="img/MRY.jpg"
        alt="MRY"
      />
      <h1 class="display-4">Muhammad Rifqy</h1>
      <p class="lead">Programmer | Gamer</p>
    </div>
  </div>
</div>
